html {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-image: url(https://source.unsplash.com/sxMePtMnSc4);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    font-weight: 100;
    margin: 0;
    padding: 7em 0 1em 0;
    color: white;
}

.btn-one {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: mediumspringgreen;
    padding: 1em 5em;
    border-radius: 25px;
    opacity: .8;
}

.btn-one:hover {
    opacity: .5;
}

.open {
    color: white;
    font-size: 30px;
    float: left;
    margin: 1em 0 0 1em;
    display: block;
    cursor: pointer;
}

.nav {
    /*width: 100%;*/
    width: 0;
    /*overflow-x: visible;*/
    overflow-x: hidden;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background-color: rgba(34,65,93,0.7);
    transition: .5s;
    display: block;
}

.nav a {
    clear: left;
    color: white;
    font-size: 22px;
    display: block;
    text-decoration: none;
    padding: 1em 0;
    transition: .3s;
}

.close {
    float: left;
    margin: 1em 0 0 1em;
}

/* not the X */
.nav a:not(:first-child):hover {
    background-color: mediumspringgreen;
    opacity: .8;
}